#title {
    text-align: center;
    margin-top: 20px;
}

.titulo{
    color: #345b73;
}

body {
    background: #dce3fa;
}

.contenedor {
    align-items: center;
}

.contenedor2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    text-align: center;
    padding: 20px;
    border: 1px solid #c87a67;
    border-radius: 6px;
    width: 400px;
    height: 400px;
    margin-bottom: 70px;
    background: #c87a67;
    box-shadow: 0 10px 30px #00000088;
    margin: 40px auto;
    border: 1px solid #ffffff40;
}

form {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgb(244, 210, 179, 0.2);
}

button {
    margin-top: 10px;
}

#not_alum {
    margin-left: 30%;
}

#span {
    margin-left: 40px;
}

.contenedor {
    margin-left: 19%;
}


.linea {
    margin-left: 19%;
    border-bottom: 2px solid #d1a29d;
    width: 500px;
    color: #d1a29d;
    font-weight: bold;
}

.materia {
    font-weight: bold;
    border-bottom: 2px solid #345b73;
    width: 350px;
    color: #345b73;
}

.nota {
    font-weight: bold;
    border-bottom: 2px solid #c87a67;
    width: 150px;
    color: #c87a67;
}

.nota {
    padding-bottom: 10px;
}

tr {
    margin-bottom: 100px;
}


/* Estilo para el div dentro de la secci칩n #f4d2b3*/
.div-rojo {

    background-color: #345b73;
    color: #dce3fa;
    width: 300px;
    /* Ancho del rect치ngulo vertical */
    height: 944px;
    /* Altura del rect치ngulo vertical */
    float: right;
    /* Alineaci칩n a la derecha */
    margin-right: 50px;
    text-align: center;
}

#Lorem {
    margin-top: 50%;
    margin-left: 15px;
    margin-right: 15px;
}

.div-azul {
    background-color: #f4d2b3;
    color: white;
    width: 300px;
    height: 400px;
}

.div-azul {
    text-align: center;
    color: #c87a67;
}


img {
    margin-top: 70px;
    margin-bottom: 10px;
    width: 120px;
    height: 120px;
}

.inputs{
    border-radius: 6px;
    border: none;
    border-bottom: 2px solid #c87a67;
}
.boton{
    border-radius: 6px;
    font-size: 15px;
    padding: 4px 14px;
    border: solid 2px #d1a29d;
    background: #d1a29d;
    color: #345b73;

}

.boton:hover{
    border: solid 2px #345b73;
    background: #345b73;
    transition: all 0.5s;
    color: #d1a29d;
}